# Diretórios e arquivos específicos desse projeto #
############
__pycache__/
utils/__pycache__/
datasets/
output/
examples/
references/
core
*.pyc
*.xcf
*.tif
*.jpg
#*.png
*.h5
*.npy
*.csv
*.ods
*.odp
*.pkl
*.p
*.npz
noop.txt
*.npy
*.tsv
00_course_folder/**/**/**.txt
*.txt
.gitignore
# Gabaritos
############
*Atividade_Avaliativa - Resposta.ipynb
# Comentários de slides
############
*.docx
# Vídeos de slides
############
00_course_folder/**/**/**.mp4
# Configurações locais
############
**/.vscode/**
**/.devcontainer/**
# Modelos salvos
############
**/saved_model/**
# alguns pdfs
00_course_folder/**/DESCRIÇÃO DO CURSO**
00_course_folder/Certificado Profissional Desenvolvedor do TensorFlow para DeepLearning.pdf
00_course_folder/cert_prof_dl_intro/* - */**.pdf
00_course_folder/cert_prof_dl_intro/* - */* - */**.pdf
00_course_folder/cert_prof_convnets/class_**/* - *.pdf
00_course_folder/cert_prof_convnets/class_**/* - */**.pdf
00_course_folder/cert_prof_nlp_intro/week_**/* - *.pdf
00_course_folder/cert_prof_nlp_intro/week_**/* - */**.pdf
# datasets
00_course_folder/cert_prof_dl_intro/4 - Usando imagens do mundo real/horse-or-human
00_course_folder/cert_prof_dl_intro/4 - Usando imagens do mundo real/validation-horse-or-human


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
#*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Exclude LSIF files from Git #
################################

.DS_Store
.cache
npm-debug.log
Thumbs.db
node_modules/
.build/
extensions/**/dist/
out/
out-build/
out-editor/
out-editor-src/
out-editor-build/
out-editor-esm/
out-editor-esm-bundle/
out-editor-min/
out-monaco-editor-core/
out-vscode/
out-vscode-min/
out-vscode-reh/
out-vscode-reh-min/
out-vscode-reh-pkg/
out-vscode-reh-web/
out-vscode-reh-web-min/
out-vscode-reh-web-pkg/
out-vscode-web/
out-vscode-web-min/
out-vscode-web-pkg/
src/vs/server
resources/server
build/node_modules
coverage/
test_data/
test-results/
yarn-error.log
vscode.lsif
vscode.db
__pycache__/

*$py.class
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


